body {
  font-family: Arial, sans-serif;
  background-color: blue
}

h1 {
  font-size: 38px
}

h2 {
  font-size: 32px
}

ul li a {
  
}

.ingredients-list {
  list-style: square inside;
}

.directions{
  list-style: circle;
}

